<input type="button" name="load" value="Load items" (click)="getItems()">
<p *ngIf="text" class="bg-danger">
    {{ text }}
</p>
<table class="table table-bordered table-striped" *ngIf="items.length">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                NAME
            </th>
            <th>
                DESC
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#item of items">
            <td>
                {{ item.id }}
            </td>
            <td>
                {{ item.name }}
            </td>
            <td>
                {{ item.desc }}
            </td>
        </tr>
    </tbody>
</table>
